.product-list-title {
  text-align: center;
  font-size: 24px;
  margin: 0 0 20px 0;
  font-family: "Symbols", "Title", "Arial", sans-serif;
}

.list-item-container {
  display: flex;
  max-width: 1400px;
  overflow-y: auto;
}
