.header {
  display: flex;
  padding: 50px 40px 65px 40px;
  align-items: center;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: 0.4s;
}

.no-display {
  display: none;
}

.header.active {
  transition: 0.4s;
  background-color: white;
}

.header-left {
  display: flex;
  align-items: center;

  img {
    width: 35px;
    border-radius: 50%;
  }

  .header-logo-name {
    font-family: "Gill Sans";
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    /* font-weight: bold; */
    color: #0a0f9e;
  }
}


.header-center {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0f9e;
}

.header-center-content {
  font-size: 16px;
  padding: 0 10px;
  margin: 0 5px;
  color: #0a0f9e;
  cursor: pointer;
}

.header-right {
  /* flex: 1; */
}

.header-icon-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.style-btn-icon {
  border: none;
  font-size: 18px;
  margin-right: 30px;
  background-color: white;
  cursor: pointer;
}

.header-user-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-user-avatar img {
  width: 45px;
  border-radius: 50%;
}

.header-user-avatar .header-user-name {
  margin: 0px 10px;
}

.header-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

.user-popover-wrapper {
  width: 200px;
  min-height: 90px;
  max-height: 250px;
  overflow: hidden;
}

.cat-popover-wrapper {
  width: 200px;
  min-height: 90px;
  max-height: 520px;
  overflow: hidden;
}

.user-popover-body {
  padding: 10px 5px;
}

.popover-item {
  color: #777;
  text-align: left;

  width: 100%;
}

.popover-item:hover {
  color: #333;
  margin-left: 15px;
  border-left: 4px solid #0a0f9e;
  cursor: pointer;
  transition: 0.3s ease;
}

.popover-user {
  color: #777;
  text-align: center;
  border-top: 1px solid #777;
  width: 100%;
}

.popover-user:hover {
  color: #333;
}

.popover-viewAll {
  color: #777;
  text-align: center;
  width: 100%;
  color: #0a0f9e;
  margin-bottom: 15px;
}

.popover-viewAll:hover {
  color: #333;
  margin-top: 15px;
  /* border-top: 4px solid #0a0f9e; */
  /* border-bottom: 4px solid #0a0f9e; */
  transition: all 0.2s ease;
}

.user-popover-footer {
  color: #777;
  cursor: pointer;
  width: 100%;
  border-top: 1px solid #777;
  padding: 10px 5px;
  text-align: center;
}

.user-popover-footer:hover {
  color: #333;
}

.drawer {
  /* Positioning */
  /* bottom: 90; */
  /* Display & Box model */

  width: 600px;
  max-width: 600px;
  /* Font */

  /* Color */
  /* background-color: darkgray; */
  /* Transition */
}

.drawer_header {
  /* Positioning */
  /* bottom: 90; */
  /* Display & Box model */
  display: flex;
  width: 600px;
  max-width: 600px;
  /* Font */

  /* Color */
  /* background-color: darkgray; */
  /* Transition */
}

.drawer img {
  /* Positioning */

  /* Display & Box model */
  width: 150px;
  height: 150px;
  /* Color */

  /* Transition */
}

.last-item {
  margin-bottom: 20px;
}

.no-scroll {
  overflow: hidden;
}

.drawer_footer {
  /* Positioning */
  position: fixed;
  bottom: 0px;
  /* Display & Box model */
  display: flex;
  justify-content: center;
  height: 120px;
  width: 100%;
  max-width: 600px;
  padding-bottom: 40px;

  /* Font */

  /* Color */
  background-color: white;
  /* Transition */
}

.estimated_total {
  /* Positioning */

  /* Display & Box model */

  /* Color */

  /* Transition */
}

.minicart_action {
  /* Positioning */
  position: absolute;
  /* Display & Box model */
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 20px;
  /* Font */

  /* Color */
  /* background-color: red; */
  /* Transition */
}

.view_cart {
  font-size: 14px;
  color: #0a0f9e;
  font-weight: 400;

  cursor: pointer;
  border-radius: 0;
  border: 1px solid #0a0f9e;

  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  margin-top: 15px;
  transition: 0.4s;
}

.view_cart:hover {
  /* Positioning */

  /* Display & Box model */
  border-radius: 0;
  padding: 10px 24px;
  /* Color */
  border-color: rgb(3, 3, 172);
  background-color: rgb(3, 3, 172);
  color: white;
  /* Transition */
  transition: 0.4s;
}

.checkout {
  font-size: 14px;
  color: #0a0f9e;
  font-weight: 400;

  cursor: pointer;
  border-radius: 0;
  border: 1px solid #0a0f9e;

  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  margin-top: 15px;
  transition: 0.4s;
}

.checkout:hover {
  /* Positioning */

  /* Display & Box model */
  border-radius: 0;
  padding: 10px 24px;
  /* Color */
  border-color: rgb(3, 3, 172);
  background-color: rgb(3, 3, 172);
  color: white;
  /* Transition */
  transition: 0.4s;
}

.qty_btn:hover {
  /* Color */
  background-color: white;
  color: rgb(3, 3, 172);
  /* Transition */
}

.qty_btn:active {
  /* Color */
  outline: none;
  /* Transition */
}

.qty_btn:focus {
  /* Color */
  color: black;
  background-color: white;
  box-shadow: none;
  /* Transition */
}

.qty_btn:disabled {
  /* Color */
  background-color: white;
  color: black;
  border-style: none;
  /* Transition */
}

.input_qty {
  /* Positioning */

  /* Display & Box model */
  text-align: center;
  border-width: 0.1em;
  border-style: none none solid;
  /* Color */
  /* Transition */
}

.input_qty:focus {
  /* Positioning */

  /* Display & Box model */
  border-width: 0.1em;
  outline: none;
  /* Color */

  /* Transition */
}

#menu {
  display: none
}

//Tablet
@media screen and (max-width: 820px) {
  .header-logo-name {
    display: none;
  }
}

//Mobile
@media screen and (max-width: 412px) {

  .header {
    justify-content: space-between;

    #menu {
      display: block;
    }

    .header-left {
      img {}
    }

    .header-center {
      display: none;
    }

    .header-login {
      display: none;
    }
  }
}