.shipping {
  /* Positioning */

  /* Display & Box model */

  /* Font */
  font-family: "Univers LT Std", sans-serif;
  font-variant: small-caps;
  font-stretch: ultra-condensed;
  margin-top: 20px;
  /* font-size: 150%; */

  /* Color */

  /* Transition */
}

.input {
  /* Positioning */

  /* Display & Box model */

  /* Font */

  /* Color */

  /* border-style: none none solid; */
  /* Transition */
}
.input:hover {
  /* Positioning */

  /* Display & Box model */

  /* Font */

  /* Color */
  /* border-style: none none solid; */
  /* Transition */
}

.error {
  /* Positioning */

  /* Display & Box model */

  /* Font */

  /* Color */
  color: red;
  /* Transition */
}

.payment {
  /* Positioning */

  /* Display & Box model */
  margin: 20px 20px;
  /* Font */
  font-family: "Univers LT Std", sans-serif;
  /* Color */

  /* Transition */
}
.payment_radio {
  /* Positioning */

  /* Display & Box model */
  margin: 10px;
  /* Font */

  /* Color */

  /* Transition */
}

.checkmark {
  background-color: #eee;
  border-radius: 50%;
}

.summary_container {
  /* Positioning */

  /* Display & Box model */
  padding: 20px;
  /* Font */

  /* Color */

  /* Transition */
}

.order_summary {
  /* Display & Box model */

  font-family: "Univers LT Std", sans-serif;
  /* Font */
  font-stretch: ultra-condensed;
  font-variant: small-caps;
  font-size: 40px;
  /* Color */

  /* Transition */
}
