footer {
  /* Positioning */
  /* position: fixed; */
  bottom: 0;
  z-index: 999;
  /* Display & Box model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Color */

  /* Transition */
  transition: 0.4s;
}

.navbar:hover {
  transition: 0.4s;
  background-color: white;
}

.navbar.active {
  transition: 0.4s;
  background-color: white;
}

.navBrand {
  font-family: 'Gill Sans';
}


