body {
  /* background-color: rgb(239, 239, 239); */
}
.homepage-carousel-container {
  /* margin-top: 90px; */
  padding-bottom: 80px;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  padding: 0px 100px;
}

.footer-container {
  padding-top: 50px;
}

.product-list-title {
  text-align: center;
  font-size: 24px;
  margin: 0 0 20px 0;
}

.list-item-container {
  display: flex;
  max-width: 1400px;
  overflow-y: auto;
}

.productItem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  align-items: center;
}

.productItem-img {
  padding: 0px 30px 30px 30px;
}

.productItem-img img {
  width: 420px;
  height: 550px;
}

.productItem-information {
  text-align: center;
  font-size: 16px;
}

.productItem-information p {
  margin-bottom: 5px;
}
.add-to-cart-btn {
  font-size: 14px;
  color: #0a0f9e;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #0a0f9e;
  width: 380px;
  padding: 10px 24px;
  background-color: white;
  margin-top: 15px;
  transition: 0.4s;
}

.add-to-cart-btn:hover {
  background-color: #0a0f9e;
  border-color: #0a0f9e;
  color: #fff;
  transition: 0.4s;
}
