.vl {
  border-left: 1px solid lightgray;
  height: 500px;
}

.loginContainer {
  /* Positioning */
  /* Display & Box  model */
  display: flex;
  align-content: center;
  justify-content: center;
  /* Color */

  /* Transition */
}
