.login {
  /* Positioning */

  /* Display & Box  model */
  border-radius: 0;
  padding: 10px 24px;
  /* Color */
  border-color: rgb(3, 3, 172);
  background-color: rgb(3, 3, 172);
  /* Transition */
}

.login:hover {
  /* Positioning */

  /* Display & Box model */
  border-radius: 0;
  padding: 10px 24px;
  /* Color */
  border-color: rgb(214, 214, 214);
  background-color: rgb(214, 214, 214);
  color: rgb(3, 3, 172);
  /* Transition */
  transition: 0.4s;
}