.shipping {
  /* Positioning */

  /* Display & Box model */

  /* Font */
  font-family: gill sans,sans-serif;
  letter-spacing: 0.04cm;
  /* font-size: 150%; */

  /* Color */

  /* Transition */
}

.input {
    /* Positioning */

  /* Display & Box model */

  /* Font */

  /* Color */
  /* border-style: none none solid; */
  /* Transition */
}
.input:hover {
    /* Positioning */

  /* Display & Box model */

  /* Font */

  /* Color */
  /* border-style: none none solid; */
  /* Transition */
}

.payment {
  /* Positioning */

  /* Display & Box model */
  margin: 20px 20px;
  /* Font */

  /* Color */
  
  /* Transition */
}

.register {
  /* Positioning */

  /* Display & Box  model */
  border-radius: 0;
  padding: 10px 24px;
  /* Color */
  border-color: rgb(3, 3, 172);
  background-color: rgb(3, 3, 172);
  /* Transition */
}

.register:hover {
  /* Positioning */

  /* Display & Box model */
  border-radius: 0;
  padding: 10px 24px;
  /* Color */
  border-color: rgb(214, 214, 214);
  background-color: rgb(214, 214, 214);
  color: rgb(3, 3, 172);
  /* Transition */
  transition: 0.4s;
}