.footer {
  margin-top: 40px;
  bottom: 0;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.footer-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img {
  width: 600px;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-information {
  color: #0a0f9e;
}

.shop-name {
  font-size: 24px;
  padding-bottom: 10px;
  margin: 0;
  font-weight: bolder;
  font-family: "Lucida Sans", sans-serif;
}

.footer-basic-info {
  font-size: 16px;
}

.footer-basic-info i {
  margin-right: 10px;
}

.footer-link {
  color: #0a0f9e;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: "Lucida Sans", sans-serif;
}

.footer-link span {
  padding-right: 10px;
}
