#review-dialog-container {
  max-width: 1200px;
}

#img-prod-review {
  max-width: 500px;
  min-width: 290px;

  margin: 25px;

  img {
    width: 250px;
    height: 250px;
  }
}

.review-product-details {
  max-width: 550px;
  min-width: 290px;
  margin-left: 25px;
}