.table-container {
  /* Positioning */
  /* Display & Box model */
  margin-top: 60px;
  margin-bottom: 60px;
  /* Color */
  /* Transition */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table-row {
  /* Positioning */
  /* Display & Box model */
  /* Font */

  /* Transition */

}

.table-cell {
  /* Positioning */
  /* Display & Box model */

  /* Color */
  /* Transition */

}
